{{#partial "content"}}

    </br>
    </br>
    </br>
    <p>Hero details:</p>

    <div class="card">
        <div class="card-header">Hero Name:
            {{hero.name}}
        </div>
        <div class="card-body">
            <h5 class="card-title">Hero Unique powers:  {{hero.power}} </h5>
            <p class="card-text">Hero Unique weakness: {{ hero.weakness }}</p>
<!--            <a href="/heroes/{{hero.id}}/update" class="btn btn-primary">Edit</a>-->
<!--            <a href="/heroes/{{hero.id}}/delete" class="btn btn-primary">Delete</a>-->
        </div>
    </div>
    <div class="detail">
        <img  src='/images/black.jpg' alt='A photo of a mountain.' width="1110" height="700" />
    </div>

{{/partial}}

{{> layout.hbs}}