{{#partial "content"}}
    </br>
    </br>
    </br>
    <p>Squad details:</p>
    <div class="card">
        <div class="card-header"> Squad Name :
            {{ squad.name }}
        </div>
        <div class="card-body">
            <h5 class="card-title"> The squad cause: {{ squad.cause }} </h5>
            <p class="card-text">Number of Heroes in squad: {{ squad.size }}</p>
<!--            <a href="/squads/{{squad.id}}/update">Edit this post</a>-->
<!--            <a href="/squads/{{squad.id}}/delete">DELETE this post (no undo)</a>-->
        </div>
    </div>
    <div class="detail">
        <img  src='/images/panther.jpg' alt='A photo of a mountain.' width="1110" height="700"/>
    </div>


{{/partial}}

{{> layout.hbs}}